html, body, #root, #bandspace {
    height: 100%;
}

#bandspace {
    height: 100%;
    position: relative;
}

body {
    font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.logo-link, .text-link {
    text-decoration: none;

}

.logo-link {
    background: -webkit-linear-gradient(left, #6046FE, #1DA0C3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

