html, body, #root, #bandspace {
    height: 100%;
    background-color: #f8f8f8;
}

body {
    font: 13px/1.2307692308 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.bandspace {
    height: 100%;
    position: relative;
}

.navbar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FFF;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    min-height: 80%;
    max-height: max-content;
    width: 100%;
    background-color: rgb(248, 248, 248);
    border-top: 1px solid rgb(238, 238, 238);
}

.logo-link, .text-link {
    text-decoration: none;
}

.logo-link > img {
    height: 40px;
    width: 185px;
}

.logo-link-not-splash > img {
    height: 26px;
    width: 125px;
}

.logo-link-not-splash {
    width: 125px;
}

.logo-link, .logo-link-not-splash {
    background: -webkit-linear-gradient(left, #6046FE, #1DA0C3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
