.album-title, .track-title {
    font-size: 28px;
    color: #363636;
    margin: -4px 30px 8px 0;
}

.release-by {
    color: #363636;
    font-size: 14px;
}

.release-by a {
    text-decoration: none;
    color: #0687F5;
}

.release-by a:hover {
    text-decoration: underline;
    text-decoration-color: #0687F5;
}

.inline-player {
    display: flex;
    margin: 24px 0 17px;
}

.release-art-350 {
    min-height: 350px;
    max-height: 350px;
    min-width: 350px;
    max-width: 350px;
    background-color: rgb(242, 242, 242); // placeholder
}

.music-column-alb-or-track {
    display: flex;
    justify-content: space-between;
    width: 756px;
    float: left;
}

.edit-delete {
    display: flex;
    margin-top: 12px;
}

.edit-delete-buttons {
    margin-right: 8px;
    padding: 4px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    color: #0687F5;
    text-decoration: none;
    cursor: pointer;
}

.edit-delete-buttons:hover {
    text-decoration: underline;
}

.track-item, .track-item-bold {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

.track-item-bold {
    font-weight: bold;
}

.track-item-info {
    font-size: 12px;
    padding-bottom: 2px;
    color: #888888;
}


.mini-play-button {
    font-size: 8px;
    padding: 4px 5px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    margin-right: 3px;
    cursor: pointer;
}

.track-no {
    margin: 0 3px;
}

.play-button-wrapper {
    cursor: pointer;
}

.track-link {
    color: #0687F5;
    text-decoration: none;
    padding-right: 6px;
}

.track-link:hover {
    text-decoration: underline;
}