.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
}

.modal-signup, .modal-login {
    border-radius: 5px;
}

.modal-signup > *, .modal-login > * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-signup-titlebar, .modal-login-titlebar {
    line-height: 45px;
    text-align: center;
    color: #2e3332;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ededed;
    font-size: 18px;
    height: 45px;
    border-radius: 5px 5px 0 0;
}

.close {
    position: absolute;
    right: 15px;
    font-size: 24px;
    color: rgb(153, 153, 153);
    cursor: pointer;
}

.modal-login-content, .modal-signup-content {
    border-radius: 0 0 5px 5px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    margin: 33px 0 10px;
}

.modal-label {
    // width: 340px;
    color: #333333;
    font-size: 16px;
    margin: 2px 0 1px;
}

.modal-input {
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #cccccc;
    padding: 8px 4px 7px 10px;
    margin-bottom: 20px; // was 25
}

.modal-input:focus {
    outline: none;
    border-color: rgb(84, 162, 227);
}

.terms-text {
    font-size: 14px;
    color: #333333;
    margin-bottom: 24px;
}

.other-modal-wrapper {
    display: flex;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.other-modal-text {
    color: #818285;
}

.other-modal-link {
    margin-left: 5px;
    color: rgb(0,161,198);
    cursor: pointer;
}

.submit {
    width: 340px;
    height: 36px;
    border: none;
    color: #fff;
    background-color: rgb(0, 161, 198);
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    text-decoration: underline;
}

.session-errors {
    font-size: 16px;
    color: #c43329;
    margin-bottom: 20px;
}

