.splash {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(242, 242, 242);
}

.splash-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.splash-message {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 40%;
    background-color: #fff;
    padding: 30px 20px;
    opacity: 90%;
    font-size: 24px;
    min-width: 450px;
    max-width: 550px;
    width: 60%;
    min-height: 160px;
    border: 1px solid #fff;
    border-radius: 20px
}

.splash-message > :nth-child(2) {
    text-align: center;
    font-size: 18px;
    padding: 0 120px;
    min-width: 320px;
}

.carousel {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #222;
}

.artist-index-button {
    // position: absolute;
    // bottom: 10%;
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #0687F5;
    text-decoration: none;
    padding: 5px 10px;
    opacity: 85%;
}

.artist-index-button:hover {
    opacity: 100%;
    background-color: #eeeeff;
}