.user-show, .my-user-show {
    width: 915px;
    background-color: rgb(255, 255, 255);
    padding: 35px 30px 80px;
    margin-bottom: 40px;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    height: 100%
}

.header-wrapper {
    margin: -35px -30px 44px -30px;
}

// placeholder, change to .header l8r
.header-placeholder {
    position: relative;
    width: 975px;
    height: 136px; // change once get images from activestorage
    min-height: 40px;
    background-color: rgb(242, 242, 242);
}

.header-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 973px;
    height: 118px;
    border: 1px dashed rgb(192, 192, 192);
}

.banner-art {
    min-height: 136px;
    max-height: 136px;
    min-width: 975px;
    max-width: 975px;
}

.artist-navbar {
    height: 38px;
    padding: 0 15px;
    font-size: 14px;
    color: #363636;
    background-color: #f2f2f2;
}

.artist-navbar > li > * {
    height: 100%;
    font-weight: bold;
    line-height: 36px; // comment out to test
    padding: 2px 15px 0;
    border-top: 0 solid #000000;
    text-decoration: none;
    color: #363636;
    cursor: pointer;
}

.artist-navbar > li {
    display: flex;
    float: left;
    margin-right: 4px;
}

#artist-navbar-active {
    padding-top: 0;
    border-top: 2px solid rgb(54, 54, 54) ;
}

.music-column {
    width: 756px;
    float: left;
}

.artist-info-column {
    width: 120px;
    float: right;
    word-wrap: break-word;
}

.music-column, .artist-info-column { // TEMPORARILY
    min-height: 232px;
}

.artist-info-column { // TEMPORARILY
    background-color: rgb(242, 242, 242);
}

.releases-list {
    display: block;
    width: 795px;
}

a.release-link {
    text-decoration: none;
}

a.release-link:hover {
    text-decoration: underline;
    text-decoration-color: #0687F5;
}

.releases-list > li {
    display: inline-block;
    position: relative;
    min-height: 232px;
    margin-right: 30px;
    margin-bottom: 30px;
}



.release-art {
    min-height: 232px;
    max-height: 232px;
    min-width: 232px;
    max-width: 232px;
    background-color: rgb(242, 242, 242); // placeholder
}

.releases-list p {
    width: 100%;
    font-weight: 600;
    color: #0687F5;
    margin: 0.7em 0 0.3em 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.artist-username-bio {
    width: 100%;
    font-size: 14px;
    color: #363636;
    font-weight: 600;
    margin-bottom: 3px;
}

#banner-file {
    display: none;
}

button.remove {
    position: absolute;
    font-size: 14px;
    right: 5px;
    bottom: 5px;
    padding: 1px 5px;
    color: #0687F5;
    cursor: pointer;
}

.remove:hover {
    text-decoration: underline;
}

.add-banner {
    font-size: 18px;
    color: #0687F5;
    border: 1px solid rgb(192, 192, 192);
    padding: 4px;
    cursor: pointer;
}

.add-banner:hover {
    text-decoration: underline;
}

.add-banner-hint {
    font-size: 12px;
    color: #808080;
}